<form #addPetForm="ngForm" (ngSubmit)="createOwnner()" >
    <input type="text" name="name" placeholder="Nombre duenio" [(ngModel)]="ownner.name" />
    <br>
    <input type="number" name="age" placeholder="Edad duenio" [(ngModel)]="ownner.age" />
    <br>

    <button type="submit"> Agregar duenio </button>
</form>



<table>
    <thead>
        <th>
            ID
        </th>
        <th>
            Nombre
        </th>
        <th>
            Edad
        </th>
        <th>
            Creado por
        </th>
        <th>
            Fecha de creaci&oacute;n
        </th>
        <th>
            Estado
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let ownner of ownners">
            <td>{{ownner.uuId}}</td>
            <td>{{ownner.name}}</td>           
            <td>{{ownner.age}}</td>
            <td>{{ownner.createdBy}}</td>
            <td>{{ownner.createdAt.seconds * 1000 | date :'dd-MM-yy h:mm:ss a '}}  </td>
            <td>{{ownner.status}}</td>
        </tr>  
    </tbody>
</table>
